.container {
    padding: 12.8rem 0;
}

.title {
    padding: 0 6.4rem;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
}

.project {
    padding: 0 3.2rem;
    border-bottom: 1px solid var(--borders);
    width: 50%;
}

.project:nth-child(3n+1) {
    width: 100%;
}

.project:nth-child(3n+2) {
    padding-right: 0;
    border-right: 1px solid var(--borders);
}

.project:nth-child(3n+3) {
    padding-left: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 6.4rem 3.2rem;
}

.img {
    width: 100%;
    height: 107.2rem;
    background-color: grey;
    border-radius: 2.4rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tagList {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.projectTitle {
    text-transform: uppercase;
}


@media (max-width: 2559px) {
    .img {
        height: 80rem;
    }
}

@media screen and (max-width: 1279px) {
    .project {
        width: 100%;
    }

    .project:nth-child(3n+2) {
        border-right: none;
    }
}