.title {
    padding: 0 6.4rem;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 6.4rem 3.2rem;
}

@media screen and (max-width: 1919px) {
    .title {
        padding: 0 4.8rem;
    }

    .content {
        gap: 2.4rem;
        padding: 4.8rem 2.4rem;
    }
}

@media screen and (max-width: 1279px) {
    .title {
        padding: 0 3.2rem 1.6rem 3.2rem;
    }

    .content {
        gap: 1.6rem;
        padding: 1.6rem;
    }
}

@media screen and (max-width: 767px) {

    .content {
        gap: 0.8rem;
        padding: 1.2rem;
    }

    .title {
        padding: 0 2.4rem 1.2rem 2.4rem;
    }
}
