.title {
    padding: 0 6.4rem;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
}

.project {
    padding: 0 3.2rem;
    border-bottom: 1px solid var(--borders);
    width: 50%;
}

.project:nth-child(3n+1) {
    width: 100%;
}

.project:nth-child(3n+2) {
    padding-right: 0;
    border-right: 1px solid var(--borders);
}

.project:nth-child(3n+3) {
    padding-left: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 6.4rem 3.2rem;
}

.img {
    width: 100%;
    height: 107.2rem;
    background-color: grey;
    border-radius: 2.4rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tagList {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.projectTitle {
    text-transform: uppercase;
}


@media (max-width: 2559px) {
    .img {
        height: 80rem;
    }
}

@media screen and (max-width: 1919px) {
    .title {
        padding: 0 4.8rem;
    }

    .img {
        height: 64.2rem;
    }

    .content {
        gap: 2.4rem;
        padding: 4.8rem 2.4rem;
    }

    .project {
        padding: 0 2.4rem;
    }
}

@media screen and (max-width: 1279px) {
    .project {
        width: 100%;
        padding: 0 1.6rem;
    }

    .project:nth-child(3n+2) {
        padding-right: 1.6rem;
        border-right: none;
    }

    .project:nth-child(3n+3) {
        padding-left: 1.6rem;
    }

    .title {
        padding: 0 3.2rem 1.6rem 3.2rem;
    }

    .img {
        height: 46.4rem;
    }

    .content {
        gap: 1.6rem;
        padding: 1.6rem;
    }
}

@media screen and (max-width: 767px) {
    .project, .project:nth-child(3n+2), .project:nth-child(3n+3) {
        padding: 0 1.2rem;
    }

    .content {
        gap: 0.8rem;
        padding: 1.2rem;
    }

    .title {
        padding: 0 2.4rem 1.2rem 2.4rem;
    }

    .img {
        height: 32.8rem;
        border-radius: 1.6rem;
    }

    .tagList {
        display: none;
    }
}
