.title {
    padding: 0 6.4rem;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 1919px) {
    .title {
        padding: 0 4.8rem;
    }
}

@media screen and (max-width: 1279px) {
    .title {
        padding: 0 3.2rem 1.6rem 3.2rem;
    }
}

@media screen and (max-width: 767px) {
    .title {
        padding: 0 2.4rem 1.2rem 2.4rem;
    }
}
