.container {
    flex-direction: row;
}

.wrapper {
    width: 50%;
    padding: 0 6.4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.form {
    gap: 1.6rem;
}

.switchWrapper {
    display: flex;
    flex-direction: column;
}

.switchLabel {
    padding: 0.8rem 1.2rem;
}

.switch {
    padding: 0.8rem;
    border-radius: 2.4rem;
    border: 1px solid var(--borders);
    display: flex;
}

.option {
    text-align: center;
    padding: 1.6rem;
    border-radius: 2rem;
    width: 100%;

    &:hover:not(.active) {
        cursor: pointer;
        background-color: var(--base-white-05);
    }

    &.active {
        background-color: var(--active);
    }
}

.textarea {
    border: 1px solid var(--borders);
    min-height: 24rem;
    background-color: transparent;
    border-radius: 2.4rem;
    padding: 2.4rem;
    color: var(--base-white);
    resize: none;

    &::placeholder {
        color: var(--base-white-60);
    }

    &:focus {
        outline: 1px solid var(--base-white);
    }
}

.file {
    display: none;
}

.label {
    padding: 2.4rem;
    border-radius: 2.4rem;
    border: 1px solid var(--borders);
    text-align: center;
    transition: all 0.5s ease-in-out;
    margin-bottom: 3.2rem;

    &:hover {
        cursor: pointer;
        background-color: var(--base-white-05);
    }
}

.button {
    border: none;
    background: var(--base-white);
    padding: 1.6rem;
    border-radius: 2.4rem;
    transition: all 0.4s ease-in-out;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.buttonText {
    padding: 0.8rem;
}

.phone {
    border: 1px solid var(--borders);
    border-radius: 2.4rem;
    padding: 2.4rem;
    width: 100%;
    background-color: transparent;
    color: var(--base-white);

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px var(--bg) inset !important;
        -webkit-text-fill-color: var(--base-white) !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    &:focus {
        outline: 1px solid var(--base-white);
    }

    &::placeholder {
        color: var(--base-white-60);
    }
}

@media (max-width: 1919px) {
    .wrapper {
        padding: 0 4.8rem;
    }

    .form {
        gap: 1.2rem !important;
    }

    .label {
        margin-bottom: 0;
        padding: 2rem;
        border-radius: 1.6rem;
    }

    .switch {
        border-radius: 1.6rem;
    }

    .option {
        padding: 1.2rem;
        border-radius: 1.2rem;
    }

    .phone {
        padding: 2rem;
        border-radius: 1.6rem;
    }

    .textarea {
        border-radius: 1.6rem;
        padding: 2rem;
    }

    .button {
        padding: 0.8rem;
        border-radius: 1.6rem;
    }
}

@media (max-width: 1279px) {
    .container {
        flex-direction: column;
        gap: 3.2rem;
    }

    .wrapper {
        padding: 0 3.2rem;
        width: 100%;
        gap: 1.6rem;
    }
}

@media (max-width: 767px) {
    .container {
        gap: 2.4rem;
    }

    .wrapper {
        padding: 0 2.4rem;
    }

    .label {
        padding: 1.2rem;
        border-radius: 1.2rem;
    }

    .switch {
        border-radius: 1.2rem;
        padding: 0.4rem;
    }

    .option {
        padding: 0.8rem;
    }

    .phone, .textarea {
        padding: 1.2rem 1.6rem;
        border-radius: 1.2rem;
    }

    .button {
        padding: 0.4rem;
        border-radius: 1.2rem;
    }
}