:root {
    --bg: #111113;
    --base-white: #ffffff;
    --base-white-05: rgba(255, 255, 255, 0.05);
    --base-white-10: rgba(255, 255, 255, 0.1);
    --base-white-50: rgba(255, 255, 255, 0.5);
    --base-white-60: rgba(255, 255, 255, 0.6);
    --borders: #383d40;
    --active: #1D1D1F;
    --objects: #29292A;

    --ease-out-smooth: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-in-smooth: cubic-bezier(0.4, 0, 1, 1);

    --space-xs: 0.8rem;
    --space-sm: 1.6rem;
    --space-md: 2.4rem;
    --space-lg: 4.8rem;
    --space-xl: 6.4rem;
    --space-2xl: 9.6rem;
    --space-3xl: 12.8rem;
}