@import './_variables.css';
@import './fonts.css';

* {
    box-sizing: border-box;
    font-family: 'Unbounded', Arial, sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--base-white-05) transparent;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--base-white-05);
    border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--active);
}


html,
body {
    color: var(--base-white);
    scroll-behavior: smooth;
    line-height: normal;
    background-color: var(--bg);
    margin: 0;
    width: 100%;
    font-size: 10px;
    position: relative;
    overflow-y: auto;
    min-height: 100dvh;
}

body {
    padding-top: 2.4rem;
}

button {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
}

li,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.02em;
}

h1 {
    font-size: 7.2rem;
    line-height: 110%;
}

h2 {
    font-size: 7.2rem;
    line-height: 110%;
}

h3 {
    font-size: 5.6rem;
    line-height: 100%;
}

p {
    font-weight: 300;
}

.p-16 {
    font-size: 1.6rem;
    line-height: 150%;
}

.p-20 {
    font-size: 2rem;
    line-height: 150%;
}

.p-24 {
    font-size: 2.4rem;
    line-height: 150%;
}

.p-32 {
    font-size: 3.2rem;
    line-height: 150%;
}


.p-40 {
    font-size: 4rem;
    line-height: 150%;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 128px 0;
}


@media screen and (max-width: 2559px) {

    h1 {
        font-size: 6.4rem;
    }

    h2 {
        font-size: 6.4rem;
    }

    h3 {
        font-size: 4.8rem;
    }

    .p-40 {
        font-size: 3.2rem;
    }

    .p-32 {
        font-size: 2.4rem;
    }
}


@media screen and (max-width: 1919px) {
    h1 {
        font-size: 4.8rem;
    }

    h2 {
        font-size: 4.8rem;
    }

    h3 {
        font-size: 3.2rem;
    }

    .p-40 {
        font-size: 2.4rem;
    }

    .p-32 {
        font-size: 1.6rem;
    }

    .p-24 {
        font-size: 1.6rem;
    }

    .p-20 {
        font-size: 1.6rem;
    }

    .section {
        padding: 9.6rem 0;
    }
}

@media screen and (max-width: 1279px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 4rem;
    }

    .p-40 {
        font-size: 1.6rem;
    }

    .section {
        padding: 6.4rem 0;
    }

    body {
        padding-top: 1.6rem;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2.4rem
    }

    .p-24 {
        font-size: 1.4rem;
    }

    .section {
        padding: 4.8rem 0;
    }

    body {
        padding-top: 0.8rem;
    }
}

