@import './_variables.css';
@import './fonts.css';

* {
    box-sizing: border-box;
    font-family: 'Unbounded', Arial, sans-serif;
    @apply m-0 p-0;
}

html,
body {
    color: var(--base-white);
    scroll-behavior: smooth;
    line-height: normal;
    background-color: var(--bg);
    width: 100vw;
    overflow: hidden;
    margin: 0;
    height: 100%;
    font-size: 10px;
}

#root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

li,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.02em;
}

h1 {
    font-size: 6.4rem;
    line-height: 130%;
}

h2 {
    font-size: 6.4rem;
    line-height: 100%;
}

h3 {
    font-size: 4.8rem;
    line-height: 100%;
}

p {
    font-weight: 300;
}

.p-16 {
    font-size: 1.6rem;
    line-height: 150%;
}

.p-20 {
    font-size: 2rem;
    line-height: 150%;
}

.p-24 {
    font-size: 2.4rem;
    line-height: 150%;
}

.p-32 {
    font-size: 3.2rem;
    line-height: 150%;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 128px 0;
}