.container {
    display: flex;
    gap: 6.4rem;
    padding: 24rem 6.4rem;
    align-items: end;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.text {
    width: 100%;
    max-width: 128.8rem;
}

.title {
    width: 100%;
    max-width: 76.8rem;


    span {
        display: block;
    }
}

.brake {
    padding: 0.4rem;
}

@media screen and (max-width: 2559px) {
    .container {
        padding: 30rem 6.4rem;
    }
}


@media screen and (max-width: 1919px) {
    .container {
        padding: 9.6rem 4.8rem;
        gap: 4.8rem;
        justify-content: space-between;
    }

    .text {
        max-width: 96rem;
    }

    .title {
        max-width: 46.4rem;
    }

    .textContainer {
        gap: 3.2rem;
    }
}

@media screen and (max-width: 1279px) {
    .container {
        padding: 6.4rem 3.2rem;
        flex-direction: column;
    }

    .text, .title {
        max-width: 100%;
    }

    .title span {
        display: inline;
    }

    .textContainer {
        gap: 2.4rem;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 4.8rem 2.4rem;
    }

    .brake {
        padding-top: 2.4rem;
        display: block;
        padding-left: 0;
    }
}
