.container {
    display: flex;
    gap: 6.4rem;
    padding: 45rem 6.4rem;
    align-items: end;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.text {
    width: 100%;
    max-width: 136rem;
}

.title {
    width: 100%;
    max-width: 76.8rem;
    font-size: 8rem;
}

@media screen and (max-width: 2559px) {
    .container {
        padding: 30rem 6.4rem;
    }
    

    .title {
        font-size: 6.4rem;
    }
}


@media screen and (max-width: 1919px) {
    .container {
        padding: 18rem 4.8rem;
        gap: 4.8rem;
    }

    .title {
        font-size: 4.8rem;
    }
}

@media screen and (max-width: 1279px) {
    .container {
        padding: 16.8rem 2.4rem;
        flex-direction: column;
    }

    .title {
        max-width: 100%;
        font-size: 4rem;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 11.4rem 2.4rem;
    }
}