.container {
    background: var(--base-white-05);
    padding: 1.2rem 2.4rem;
    border-radius: 1.6rem;
    width: max-content;
}

.containerSmall {
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
}

.text {
    padding: 0.4rem 0;
}