.container {
    background: var(--base-white-05);
    padding: 1.2rem 2.4rem;
    border-radius: 1.6rem;
    width: max-content;
}

.containerSmall {
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
}

.text {
    padding: 0.4rem 0;
}

@media screen and (max-width: 1919px) {
    .container {
        padding: 1.2rem 1.6rem;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0.8rem 1.2rem;
        border-radius: 0.8rem;
    }
}
