.header {
    display: flex;
    gap: 6.4rem;
    padding: 0 6.4rem;

    h2 {
        width: 50%;
    }
}

.description {
    width: 50%;
}

.services {
    display: flex;
    gap: 2.4rem;
    padding: 4.8rem 6.4rem;
}

.item {
    width: 50%;
    padding: 4.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    height: 90.8rem;
    border-radius: 4.8rem;
    position: relative;
    overflow: hidden;
}

.item::before {
    content: '';
    position: absolute;
    inset: 0.5px;
    border: 1px solid var(--borders);
    border-radius: 4.8rem;
    pointer-events: none;
    z-index: 1;
}


.tagsContainer {
    flex-grow: 1;
}

.tags {
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    gap: 3.2rem;
}

.iconContainer {
    padding: 6.8rem;
    border-radius: 4rem;
    background-color: var(--base-white-05);
    position: relative;
    z-index: 3;
}

.wrapper {
    padding: 1.6rem;
    position: absolute;
    bottom: -1px;
    left: -1px;
    border-radius: 0 4.8rem 0 0;
    border-top: 1px solid var(--borders);
    border-right: 1px solid var(--borders);
    z-index: 2;
    background-color: var(--bg);
}

.icon {
    width: 9.6rem;
    height: 9.6rem;
}

.elementTop {
    position: absolute;
    top: -52px;
    left: 2px;
    width: 52px;
    transform: rotate(-90deg);
    background-color: var(--bg);
}

.elementBottom {
    position: absolute;
    bottom: 1px;
    right: -52px;
    width: 52px;
    transform: rotate(-90deg);
    background-color: var(--bg);
}

.hiddenBox {
    width: 21.7rem;
    height: 17.7rem;
    flex-shrink: 0;
}

@media (max-width: 1919px) {
    .header {
        gap: 4.8rem;
        padding: 0 4.8rem;

        h2 {
            width: 51%;
        }
    }

    .description {
        width: 49%;
    }

    .services {
        padding: 3.2rem 4.8rem;
    }

    .item {
        padding: 3.2rem;
        gap: 2.4rem;
        height: 64rem;
        border-radius: 3.2rem;
    }

    .item::before {
        border-radius: 3.2rem;
    }

    .tags {
        gap: 0.8rem;
    }

    .iconContainer {
        padding: 4.8rem;
        border-radius: 3.2rem;
    }

    .wrapper {
        border-radius: 0 3.2rem 0 0;
    }

    .icon {
        width: 6.4rem;
        height: 6.4rem;
    }

    .elementTop {
        top: -32px;
        left: 2px;
        width: 32px;
    }

    .elementBottom {
        bottom: 1px;
        right: -32px;
        width: 32px;
    }

    .hiddenBox {
        width: 15.7rem;
        height: 13.7rem;
    }
}

@media screen and (max-width: 1279px) {
    .header {
        flex-direction: column;
        gap: 1.6rem;
        padding: 0 3.2rem;

        h2 {
            width: 100%;
        }
    }

    .description {
        width: 100%;
    }

    .services {
        padding: 2.4rem 3.2rem;
        flex-direction: column;
    }

    .item {
        width: 100%;
        height: 48rem;
    }

    .tagsContainer {
        height: 24rem;
    }

    .footer {
        gap: 2.4rem;
    }

    .hiddenBox {
        height: 6.7rem;
    }

    .elementTop {
        left: 1px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 0 2.4rem;
    }

    .services {
        padding: 1.6rem 2.4rem;
    }

    .item {
        height: 53.2rem;
        padding: 2.4rem;
        gap: 1.6rem;
        border-radius: 2.4rem;
    }

    .item::before {
        border-radius: 2.4rem;
    }

    .tagsContainer {
        height: max-content;
        flex-grow: 0;
    }

    .tags {
        gap: 0.4rem
    }

    .hiddenBox {
       display: none;
    }

    .iconContainer {
        padding: 3.2rem;
        border-radius: 2.4rem;
    }

    .wrapper {
        border-radius: 0 2.4rem 0 0;
        padding: 0.8rem;
    }

    .icon {
        width: 3.2rem;
        height: 3.2rem;
    }

    .elementTop {
        top: -24px;
        width: 24px;
    }

    .elementBottom {
        right: -24px;
        width: 24px;
    }
}