.container {
}

.header {
    display: flex;
    gap: 6.4rem;
    padding: 0 6.4rem;

    h2 {
        width: 50%;
    }
}

.description {
    width: 50%;
}

.services {
    display: flex;
    gap: 2.4rem;
    padding: 4.8rem 6.4rem;
}

.item {
    width: 50%;
    padding: 4.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    height: 90.8rem;
    border: 1px solid var(--borders);
    border-radius: 4.8rem;
    position: relative;
}

.item:first-child {
    border-right: 1px solid var(--borders);
}

.tagsContainer {
    flex-grow: 1;
}

.tags {
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    gap: 3.2rem;
}

.iconContainer {
    padding: 6.8rem;
    border-radius: 4rem;
    background-color: var(--base-white-05);
}

.wrapper {
    padding: 1.6rem;
    background-color: var(--bg);
    position: absolute;
    bottom: -1px;
    left: -1px;
    border-radius: 0 4.8rem 0 0;
    border-top: 1px solid var(--borders);
    border-right: 1px solid var(--borders);
}

.icon {
    width: 9.6rem;
    height: 9.6rem;
}

.elementTop {
    position: absolute;
    top: -48px;
    left: 0;
    width: 48px;
    transform: rotate(-90deg) scale(1.01);
}

.elementBottom {
    position: absolute;
    bottom: 0;
    right: -48px;
    width: 48px;
    transform: rotate(-90deg) scale(1.01);
}

.hiddenBox {
    width: 21.7rem;
    height: 17.7rem;
    flex-shrink: 0;
}

.serviceDescription {

}