.wrapper {
  border: 1px solid var(--borders);
  border-radius: 2.4rem;
  padding: 1.6rem;
}

.wrapper:focus-within {
  outline: 1px solid var(--base-white);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input {
  width: 100%;
  padding: 0.8rem;
  background-color: transparent;
  border: none;
  color: var(--base-white);

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--bg) inset !important;
    -webkit-text-fill-color: var(--base-white) !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--base-white-60);
  }
}

@media (max-width: 1919px) {
  .wrapper {
    padding: 1.2rem;
    border-radius: 1.6rem;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0.4rem 0.8rem;
    border-radius: 1.2rem;
  }
}
