.container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--borders);
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer {
    border-top: 1px solid var(--borders);
    padding: 4.8rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta {
    padding: 12.8rem 6.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.contacts {
    padding: 12.8rem 6.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-left: 1px solid var(--borders);
    width: 44rem;
}

.item {
    padding: 1.2rem 2.4rem;
}

.link {
    appearance: none;
    text-transform: uppercase;
}